.content {
    .fullwidth {
      width: 130%;
      margin-left: -15%;
      display: block;
    }
    .halfwidth {
      width: 35%;
      margin: auto;
      display: block;
    }
    .section {          
          // text
          .sectiontitle {
              color: var(--text-color);
              font-size: 2.5rem;
              padding: 0;
              margin: 0;
          }
          .sectioncontent {
            .link {
              transition: all 0.2s ease;
              color: var(--link-color);
            } .link:hover {
              color: var(--button-color);
            }
            color: var(--sub-color);
            font-size: 1.2rem;
          }
          // width: 70%;
          width: 70vw;
          max-width: 1500px;
          padding-block: 6rem;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}