.container {
    .main {
      .quote {
        color: var(--text-color);
        font-family: var(--font-lexend);
        font-size: 5rem;
      }
      .statcontainer {
        .statword {
          margin: 0;
          padding: 0;
          font-size: 1.8rem;
          font-family: var(--font-lexend);
        }
        .statnumber {
          margin: 0;
          padding: 0;
          font-size: 10rem;
          font-weight: bold;
          line-height: 7.5rem;
          padding-top: 0.5rem;
          padding-bottom: 1rem;
        }
        .statnumbersm {
          margin: 0;
          padding: 0;
          font-size: 8rem;
          font-weight: bold;
          line-height: 7.5rem;
          padding-top: 0.5rem;
          padding-bottom: 1rem;
          letter-spacing: -0.5rem;
        }
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-top: 15%;
        margin: auto;
        width: 100%;
        text-align: center;
        background: rgb(217,150,172);
        background: linear-gradient(132deg, rgba(217,150,172,1) 11%, rgba(223,69,118,1) 47%, rgba(93,137,237,1) 88%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .bold {
        color: var(--text-color);
      }
      .ghlink {
        text-align: center;
        color: var(--link-color);
        padding: 0;
        margin: 0;
        font-size: 20px;
        font-weight: 400;
        margin-top: -2em;
      } .ghlink:hover {
        color: var(--button-color);
      }
      .positiontitle {
        margin-top: -0.7em;
        color: var(--button-text-color);
        font-style: italic;
      }
      .titlecontainer {
        .subtitle {
          color: var(--sub-color);
          position: absolute;
          font-size: 1.3rem;
          margin-top: -1rem;
          margin-left: 0.3rem;
        }
        .title {
          color: var(--text-color);
          font-family: var(--font-lexend);
          font-size: 4rem;
        }
        padding-top: 10rem;
        // padding-bottom: 2rem;
        margin: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .statblock {
        .imgdivider {
          width: 5%;
          background-color: var(--background-color);
        }
        .item {
          .imgwrapper {
            img {
              width: 100%;
              margin: auto;
            }
            width: 100%;
            max-width: 500px;
            margin: auto;
          }
          .textwrapper {
            padding: 2em;
          }
          width: 50%;
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 10px;
        }
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-block: 3em;
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    .container {
      .main {
        .quote {
          font-size: 3rem;
        }
        .statcontainer {
          .statnumber {
            font-size: 8rem;
            padding-top: 0.25rem;
            padding-bottom: 0.5rem;
          }
          .statnumbersm {
            font-size: 6rem;
            padding: 0;
            margin-top: -1rem;
            margin-bottom: -0.4rem;
          }
          padding-top: 0.6em;
          padding-bottom: 0.4em;
        }
        .statblock {
          .imgdivider {
            height: 2em;
          }
          .item {
            width: 100%;
          }
          flex-direction: column-reverse;
        }
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    .statblock {
      width: 120%;
      margin-left: -10%;
    }
  }