.container {
    .main {
      .titlecontainer {
        .subtitle {
          color: var(--sub-color);
          position: absolute;
          font-size: 1.3rem;
          margin-top: -1rem;
          margin-left: 0.3rem;
        }
        .title {
          color: var(--text-color);
          font-family: var(--font-lexend);
          font-size: 4rem;
        }
        padding-top: 10rem;
        // padding-bottom: 2rem;
        margin: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .content {
        .section {
          .buttonsm {
            cursor: pointer;
            background-color: var(--background-color);
            color: var(--text-color);
            font-family: var(--font-lexend);
            font-size: 1rem;
    
            border-style: solid;
            border-width: 2px;
            border-color: var(--button-color);
            padding-block: 0.7rem;
            border-radius: 1.5rem;
            width: 8rem;

            margin-top: 0.6rem;
          }
          .buttonsm:hover {
            background-color: var(--button-color);
          }
          .buttonmd {
            cursor: pointer;
            background-color: var(--background-color);
            color: var(--text-color);
            font-family: var(--font-lexend);
            font-size: 1rem;
    
            border-style: solid;
            border-width: 2px;
            border-color: var(--button-color);
            padding-block: 0.7rem;
            border-radius: 1.5rem;
            width: 10.5rem;

            margin-top: 0.6rem;
          }
          .buttonmd:hover {
            background-color: var(--button-color);
          }
          .buttonlist {
            margin-right: 3rem;
            cursor: pointer;
            background-color: var(--background-color);
            color: var(--text-color);
            font-family: var(--font-lexend);
            font-size: 1rem;
    
            border-style: solid;
            border-width: 2px;
            border-color: var(--button-color);
            padding-block: 0.7rem;
            border-radius: 1.5rem;
            width: 13rem;

            margin-top: 0.6rem;
          }
          .buttonlist:hover {
            background-color: var(--button-color);
          }
          .sectiontitle {
            color: var(--text-color);
            font-size: 2.5rem;
            padding: 0;
            margin: 0;
          }
          .sectioncontent {
            .link {
              transition: all 0.2s ease;
              color: var(--link-color);
            } :hover {
              color: var(--button-color);
            }
            color: var(--sub-color);
            font-size: 1.2rem;
          }
          width: 70%;
          padding-block: 6rem;
        }
        .dot {
          color: var(--sub-color);
          font-size: 2rem;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
      }
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  padding: 0 2rem;
  padding-bottom: 10rem;
}